.service_box{
    width: 35vw;
    padding: 20px;
    /* margin-left: 20px; */
}

.service_container{
    /* margin-top: 350px; */
    padding: 40px;
    text-align: center;
    /* margin-top: 100px; */
    /* gap: 30px; */
}

.my_services{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
    color: rgb(173, 83, 137);

}
.box_contents{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    padding: 40px;

}

.banner_2text{
    color: rgb(173, 83, 137);

}

/* @keyframes slideInTop {
    from{
            transform: translateY(-300px);
    }

    to{
        transform: translateY(0);

    }
}

.service_container{
    animation: slideInTop 1s ease-in 1s 1 normal both;
    transform: translateY(-150px);
} */
@media screen and (max-width:769px) {
    .service_container{
        padding: 25px;
        text-align: center;
        margin-top: 20px;
        /* gap: 30px; */
    }
}