.App {
  /* text-align: center; */
}

body{
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


ul{
  list-style: none;
}
